.button {
  background: hsla(0, 79%, 63%, .8);
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
