.grid__item {
  color: #333;
  display: block;
  margin-bottom: 1.5rem;
}

.grid__item:last-child {
  margin-bottom: 0;
}

.grid__image {
  border-radius: 0.5rem;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.grid__label {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  text-align: center;
}

@media (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .grid__item {
    width: calc(50% - (1.5rem * 0.5));
  }
}

@media (min-width: 960px) {
  .grid:after {
    content: '';
    display: block;
    width: calc(33.333% - (2rem * 0.666));
  }

  .grid__item {
    margin-bottom: 2rem;
    width: calc(33.333% - (2rem * 0.666));
  }
}

@media (min-width: 1280px) {
  .grid {
    margin: 0 auto;
    max-width: 1080px;
  }
}
