.hero {
  color: #F2F2F2;
  font-family: 'Nunito', sans-serif;
  height: 320px;
  overflow: hidden;
  padding: 3rem 1.5rem;
  position: relative;
}

.hero__image {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero__image:after {
  background: black;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero__title {
  line-height: 1.25;
  font-size: 2.25rem;
  margin: 0 0 1rem;
}

.info {
  display: flex;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 1.5rem;
}

.tags {
  display: inline;
  font-size: 1.25rem;
  list-style: none;
  margin-left: 1rem;
  margin: 0;
  padding: 0;
}

.tag {
  background: hsl(0, 41%, 59%);
  border-radius: 0.5rem;
  color: #333;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  padding: 0rem 0.5rem;
}

@media (min-width: 375px) {
  .hero__title {
    font-size: 2.5rem;
  }

  .tags {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .hero {
    height: 480px;
    padding: 4rem 2.5rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .label {
    font-size: 2.25rem;
  }

  .tags {
    font-size: 2.25rem;
  }
}

@media (min-width: 960px) {
  .hero {
    height: 100vh;
    min-height: 540px;
    max-height: 720px;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .hero__title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .tag {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1280px) {
  .hero {
    min-height: 620px;
    max-height: 768px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero__title {
    font-size: 6rem;
  }

  .hero__body {
    margin: 0 auto;
    max-width: 1080px;
  }
}
