@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Nunito:400,600');

* { box-sizing: border-box; }

html, body {
  color: #333;
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: #EB5757;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

#app {
  height: 100%;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 1rem;
}
