.project {
  display: block;
  padding: 3rem 0;
}

.piece {
  margin-bottom: 2rem;
}

.piece:last-child {
  margin-bottom: 0;
}

.piece__text {
  line-height: 1.5;
  padding: 0 1.5rem;
  margin: 0 0 2rem;
}

.piece__text p {
  margin: 0 0 1rem;
}

.piece__text p:last-child {
  margin-bottom: 0;
}

.piece__image {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  height: 320px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.piece__image--center img {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  z-index: 0;
}

.piece__image-label{
  background: rgba(51, 51, 51, 0.70);
  border-radius: 0 0 8px 0;
  color: white;
  left: 0;
  font-family: 'Nunito', sans-serif;
  padding: 0.25rem 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 6rem;
  z-index: 1;
}

.quote {
  background: #F1ECEF;
  line-height: 1.5;
  padding: 1rem 1.5rem;
  text-align: center;
}

.quote__text {
  font-style: italic;
  margin: 0 0 1rem;
}

@media (min-width: 600px) {
  .project {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .piece {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 2.5rem;
  }

  .piece.piece--reverse {
    flex-direction: row-reverse;
  }

  .piece__text {
    order: 1;
    margin: 0;
    padding: 0;
    width: calc(50% - (1.5rem * 0.5));
  }

  .piece__image {
    height: 248px;
    order: 2;
    width: calc(50% - (1.5rem * 0.5));
  }

  .quote {
    padding: 2rem 2.5rem;
  }
}

@media (min-width: 960px) {
  .project {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .piece {
    margin-bottom: 3rem;
  }

  .piece__image {
    height: 280px;
  }

  .piece__text, .piece__image {
    width: calc(50% - (2rem * 0.5));
  }

  .quote__text, .quote__author-name, .quote__author-desc {
    margin-left: auto;
    margin-right: auto;
    width: calc(66.666% - (2rem * 0.333));
  }
}

@media (min-width: 1280px) {
  .project {
    margin: 0 auto;
    max-width: 1080px;
  }

  .piece {
    padding-left: 0;
    padding-right: 0;
  }

  .piece__image {
    height: 320px;
  }

  .quote {
    padding-left: 0;
    padding-right: 0;
  }
}
