.section {
  padding: 3rem 1.5rem;
}

.section.section--colored {
  background: #F1ECEF;
}

.section__title {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.section__title + .section__text {
  margin-top: 0rem;
}

.section__image {
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  width: 100%;
}

.section__text {
  line-height: 1.5;
  margin: 1rem 0;
}

.section__text:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2.5rem;
  }

  .section.section--reverse {
    flex-direction: row-reverse;
  }

  .section__image {
    order: 2;
    padding: 1rem;
    width: calc(37.5% - (1.5rem * .625));
  }

  .section__body {
    order: 1;
    width: calc(62.5% - (1.5rem * .375));
  }

  .section__title {
    font-size: 3rem;
  }
}

@media (min-width: 960px) {
  .section {
    padding: 6rem 2.5rem;
  }

  .section__image {
    padding: 0 2rem;
    width: calc(33.333% - (2.5rem * 0.666));
  }

  .section__body {
    width: calc(50% - (2.5rem * 0.5));
  }
}

@media (min-width: 1280px) {
  .section {
    margin: 0 auto;
    max-width: 1080px;
    padding-left: 0;
    padding-right: 0;
  }

  .section.section--colored {
    margin: 0;
    max-width: 100%;
  }
}
