#resume a {
  text-decoration: underline;
}

.paper {
  background: white;
  padding: 2rem 1.5rem;
}

.header {
  border-bottom: 1px solid #333;
  padding: 0 0 1.5rem;
}

.header__title {
  line-height: 1;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.header__contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__contact li {
  margin-bottom: 0.25rem;
}

.header__contact li:last-child {
  margin-bottom: 0;
}

.section {
  border-bottom: 1px solid #333;
  padding: 1.5rem 0;
}

.section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.section__header h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.experience {
  margin-bottom: 2rem;
}

.experience:last-child {
  margin-bottom: 0;
}

.experience__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

.experience__meta {
  font-style: italic;
}

.experience__company {
  margin-bottom: 0.5rem;
}

.experience__text {
  list-style-position: inside;
  padding: 0;
  margin: 0.5rem 0 0;
}

.skills {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.project {
  margin-bottom: 2rem;
}

.project:last-child {
  margin-bottom: 0;
}

.project__title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  margin: 0;
}

.project__link {
  display: block;
}

.project__text {
  margin: 0.5rem 0 0;
}

.project__text:last-child {
  margin-bottom: 0;
}

@media (min-width: 960px), print {
  .header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .header__title {
    font-size: 3rem;
    margin: 0;
    width: calc(66.666% - (1rem * 0.333));
  }

  .header__contact {
    bottom: 0.25rem;
    font-size: 0.75rem;
    position: relative;
    text-align: right;
  }

  .section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .section__header {
    width: 9rem;
  }

  .section__header h2 {
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .section__body {
    width: calc(100% - 9rem);
  }

  .grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .grid__item {
    width: calc(33.333% - (1rem * 0.666));
  }

  .experience {
    margin-bottom: 1rem;
    position: relative;
  }

  .experience__title {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .experience__company {
    line-height: 1;
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .experience__time {
    font-size: 0.875rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(33.333% - (1rem * 0.666));
  }

  .experience__text {
    font-size: 0.75rem;
  }

  .experience__text li {
    margin-bottom: 0.25rem;
  }

  .experience__text p {
    margin: 0.5rem 0;
  }

  .skills {
    list-style: none;
    font-size: 0.75rem;
  }

  .skills li {
    margin-bottom: 0.25rem;
  }

  .skills li:last-child {
    margin-bottom: 0;
  }

  .project {
    margin-bottom: 0;
  }

  .project__title {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  .project__link {
    font-size: 0.75rem;
  }

  .project__text {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}

@media print {
  #resume {
    padding: 0;
  }

  .paper {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 960px) {
  #resume {
    background: #FAFAFA;
    padding: 3rem 0;
  }

  .paper {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 3rem 2.5rem;
    width: 750px;
  }
}
